<div id="<%= app.ids.main_content %>" class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="my-3">
                            <h3>Welcome</h3>
                            <p>
                                This is a <b>Rich Internet and Single Page Application</b> base code featuring a
                                management dashboard front-end and REST services with a Mongo database backend.
                            </p>
                            <h3>Application goal</h3>
                            <p>
                                It's a simple <b>TO-DO</b> list management. The lists are under the <b>Projects</b>
                                sidebar link.
                            </p>
                            <p>
                                Each project has a list of Task (TO-DO) entries with a "done" percentage, a status
                                and some labels.
                            </p>
                            <h3>Architecture</h3>
                            <p>
                                The principal libraries and technologies behind this application are:
                                <ul>
                                    <li>
                                        <a href="https://nodejs.org/">Node.js</a> with <a href="https://expressjs.com/">Express</a>
                                        as the main server
                                    </li>
                                    <li><a href="">MongoDB</a> as DataBase backend</li>
                                    <li><a href="https://jquery.com/">jQuery</a> as the main RIA library</li>
                                    <li><a href="https://ejs.co/">EJS</a> as template engine</li>
                                    <li>
                                        The great <a href="https://www.creative-tim.com/">Creative Tim</a>'s
                                        admin dashboard template (Material Dashboard, Bootstrap based) for the user interface
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>